.randomizer__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}

.randomizer__popup {
    background-color: black;
    border: 3px solid yellow;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        margin: 0 0 30px 0;
    }
}

button.unstyled.randomizer__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 30px;
    height: auto;
    line-height: 1;
}


.randomizer__peeps {
    display: flex;
    align-items: center;
    justify-content: center;
}

.randomizer__peep {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    flex: 1;
    width: 120px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.randomizer__name {
    font-weight: bold;
    white-space: nowrap;
}

.randomizer__icon {
    display: block;
    width: 75px;
    height: 75px;
    margin: 10px auto;
    background-position: center center;
}

button.unstyled.randomizer__go {
    background: transparent;
    border: 2px solid yellow;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}

.randomizer__class {
    font-style: italic;
    font-size: 12px;
}

.randomizer__peep--Engineer {
    .randomizer__icon {
        background-image: url('../../img/Engineer_icon.png');
    }
    .randomizer__class {
        color: pink;
    }
}

.randomizer__peep--Gunner {
    .randomizer__icon {
        background-image: url('../../img/Gunner_icon.png');
    }
    .randomizer__class {
        color: lightgreen;
    }
}

.randomizer__peep--Scout {
    .randomizer__icon {
        background-image: url('../../img/Scout_icon.png');
    }
    .randomizer__class {
        color: lightblue;
    }
}

.randomizer__peep--Driller {
    .randomizer__icon {
        background-image: url('../../img/Driller_icon.png');
    }
    .randomizer__class {
        color: lightyellow;
    }
}
