* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: black url(./SpaceRigExterior.webp) center center;
  background-size: cover;
  font-family: 'Jura', sans-serif;
  color: white;
  font-weight: bold;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  border: 5px solid #e58f00;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
}

.countdown__icon {
  background: #9e0603 url(./icon.png) center center no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
}

.countdown__content {
  width: 380px;
  padding: 20px;
  text-align: center;
}

.countdown__title {
  text-transform: uppercase;
}

.countdown__timer {
  font-size: 60px;
  line-height: 1;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  margin: 0 0 50px 0;
}